# # Access key for the Front Desk interface
# RECEPTIONIST_KEY="0000"

# # Access key for the Lap-line Tracker interface
# OBSERVER_KEY="0000"

# # Access key for the Race Control interface
# SAFETY_KEY="0000"